.header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 120px;
}

.header__div {
  width: 55%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.form__buscador {
  display: none;
}

.input__button {
  background-color: unset;
  border: none;
}

.input__button-vector {
  width: 1.5rem;
}

.form__button-login {
  padding: 0.6rem 2.5rem;
  background-color: unset;
  color: #2A7AE4;
  border-color: #2A7AE4;
}

/* banner */
.banner {
  height: 250px;
  background-image: url(../../img/hero.jpeg);
  background-position: center;
  background-size: cover;
  color: #fff;
  vertical-align: bottom;
}

.banner__div {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 0.5rem;
  background-color: #0000004a;
  padding: 0 1rem 1.5rem;
}

.banner-subtitulo {
  font-weight: 400;
}

.banner__button {
  width: fit-content;
  padding: 1rem;
  color: white;
  background-color: #2A7AE4;
  border: none;
}